.shop-header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}
.row {
}
.logo {
  font-family: 'Playfair Display SC', serif;
  font-size: 2.5em;
  padding-left: 1rem;
}
.text-dark {
}
.cart-icon {
font-size: 2.2rem;
color: aqua;
margin-right: 10px;


}
.fa {
}
.fa-shopping-cart {
}
.shopping-cart {
  align-self: center;
  font-style: 1.3rem;
}
